<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/section_top.css">
    <link rel="stylesheet" type="text/css" href="/css/components.css">
    <link rel="stylesheet" type="text/css" href="/css/header-page.css">
    <link rel="stylesheet" type="text/css" href="/css/section-about.css">
    <link rel="stylesheet" type="text/css" href="/css/section-contacts.css">
    <link rel="stylesheet" type="text/css" href="/css/footer-page.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    <link rel="stylesheet" type="text/css" href="/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="/css/tabs.css">

    <script src="https://kit.fontawesome.com/d80ef6008c.js" crossorigin="anonymous"></script>

    <title>Crazy fish</title>
</head>
<body>

<style>
    .blackiconcolor{
        color: white;
    }
    .blackiconcolor:hover{
        color: #d43c8c;
    }

</style>


<!-- header-page -->
<header class="header-page">
    <div class="container header-page_container">
        <div class="header-page_start "><div class="logo">
            <!-- <img class="logo" src="img/logo_cm.png" width="7%" height="7%" alt="Логотип crazy fish"> -->
            <span class="header-page_logo">Crazy Fish</span>
        </div>
        </div>
        <div class="header-page_end">
            <nav class="header-page_nav">
                <ul class="header-page_ul">
                    <li class="header-page_li">
                        <a class="header-page_link" href="#" data-scroll-to="section-catalog">
                            <span class="header-page_text">приманки</span>
                        </a>
                    </li>
                    <li class="header-page_li">
                        <a class="header-page_link" href="#" data-scroll-to="section-about">
                            <span class="header-page_text" >о нас</span>
                        </a>
                    </li>
                    <li class="header-page_li">
                        <a class="header-page_link" href="#" data-scroll-to="section-contacts">
                            <span class="header-page_text">контакты</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="phone">
                <a class="phone_item" href="tel:+380993843626">+38 (099) 384-36-26</a>
            </div>

            <div sec:authorize="!isAuthenticated()" class="header-page_li">
                <a class="header-page_icon" href="/login">
                    <i class="fas fa-user-circle fa-lg blackiconcolor"></i>
                </a>
            </div>
            <div sec:authorize="!isAuthenticated()" class="header-page_li">
                <a class="header-page_icon" href="/login">
                    <i class="fas fa-shopping-basket fa-lg blackiconcolor"></i>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()" class="header-page_li">
                <a class="header-page_icon" href="/cabinet/personal-information">
                    <i class="fas fa-user-circle fa-lg blackiconcolor"></i>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="header-page_li">
                <a class="header-page_icon" href="/basket">
                    <i class="fas fa-shopping-basket fa-lg blackiconcolor"></i>
                </a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="header-page_li">
                <a class="header-page_icon" href="/admin/edit-bait">
                    <i class="fas fa-cog fa-lg blackiconcolor"></i>
                </a>
            </div>

        </div>
    </div>
</header>
<!-- /.header-page -->

<!-- section top -->
<section class="section-top">
    <div class="container section-top_container">
        <p class="section-top_info">от японского производителя</p>
        <h1 class="section-top_title">Лучшие Приманки <br> в Харькове</h1>
        <div class="section-top_btn"><button class="btn" type="button" data-scroll-to="section-catalog">Выбрать</button>
        </div>
    </div>
</section>
<!-- /.section top -->

<!-- section-catalog -->

<section class="section section-catalog">
    <div class="container">
        <header class="section_header">
            <h2 class="section_title section_title--accent">Приманки</h2>
            <nav class="catalog-nav">
                <ul class="catalog-nav_wrapper">
                    <li class="catalog-nav_item">
                        <button class="catalog-nav_btn is-active" type="button" data-filter="all">Все</button>
                    </li>
                    <li class="catalog-nav_item">
                        <button class="catalog-nav_btn" type="button" data-filter="виброхвост">Виброхвост</button>
                    </li>
                    <li class="catalog-nav_item">
                        <button class="catalog-nav_btn" type="button" data-filter="твистер">Твистер</button>
                    </li>
                    <li class="catalog-nav_item">
                        <button class="catalog-nav_btn" type="button" data-filter="слаг">Слаг</button>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="catalog">
                <div class="catalog_item" th:data-category="${el.getType()}" th:each="el : ${product}">
                    <div class="product catalog_product">

                        <img th:src="${el.getPath_to_file()}" th:alt="${el.getDescription()}" class="product_img">

                        <div class="product_content">
                            <h3 class="product_title" th:text="${el.getName()}"/>
                            <div class="product_price">
                                <span class="product_price-value" th:text="${el.getPrice()}"/>
                                <span class="product_currency"> грн</span>
                            </div>
                        </div>
                        <form action="/" method="post">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                            <input th:name="id_product" th:value="${el.getProduct_id()}" type="hidden">
                        <footer class="product_footer">
                            <div class="product_number">
                                <button class="product_number_btn decrease" type="button">-</button>
                                <input type="text" name="count" value="1" class="bxr-quantity-text">
                                <button class="product_number_btn increase" type="button">+</button>
                                <div class="product_bottom">
                                    <button sec:authorize="isAuthenticated()" class="btn product_btn" type="submit" >В КОРЗИНУ</button>
                                    <a sec:authorize="!isAuthenticated()" class="btn product_btn" href="/login">В КОРЗИНУ</a>
                                    <style>
                                        .product_btn {
                                            text-decoration: none;
                                        }
                                    </style>
                                </div>
                            </div>
                        </footer>
                        </form>
                        <div class="product_info">
                            <p class="product_description">Аттрактант: <b th:text="${el.getAttractant()}"/></p>
                            <p class="product_description">Тип приманки: <b th:text="${el.getType()}"/></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- /.section-catalog -->

<!-- section-about -->
<section class="section section-about">
    <img class="section-about_img" src="img/down_img.jpg" alt="">
    <div class="container section-about_container">
        <div class="section-about_content">
            <h2 class="section_title section-about_title">О нас</h2>
            <p class="section-abouts_text">Силиконовые приманки Crazy Fish™ — ответ на давно назревшую
                потребность в разработке силиконовых приманок для наших рек и рыб.
                Модели созданы с учётом специфики водоёмов Украины при участии
                лучших экспертов страны. Каждая приманка ими тестируются, после чего
                дорабатываются с учетом результатов испытаний. Оптимизируем форму,
                консистенцию, прочность, вкус, запах и цвета.
            </p>
        </div>
    </div>
</section>
<!-- /.section-about -->

<!-- section-contacts -->
<section class="section section-contacts">
    <div class="container section-contacts_container">
        <header class="section_header">
            <h2 class="section_title section-contacts_title">Контакты</h2>
        </header>
        <div class="contacts">
            <div class="contacts_start">
                <div id="img_box" class="contacts_map">
                    <img class="map_img" src="img/map_588-460.jpg">
                </div>
            </div>
            <div class="contacts_end">
                <div class="contacts_item">
                    <h3 class="contacts_title">Адрес</h3>
                    <p class="contacts_text">Украина, г. Харьков, ул. Семена Палия, 125-А</p>
                </div>
                <div class="contacts_item">
                    <h3 class="contacts_title">Телефон</h3>
                    <a class="contacts_phone" href="tel:+380993843626">+38 (099) 384-36-26</a>
                </div>
                <div class="contacts_item">
                    <h3 class="contacts_title">Социальные сети</h3>
                    <ul class="socials">
                        <li class="socials_item">
                            <a href="#" class="socials_link" target="_blank">
                                <img class="socials_icon socials_icon-fb" src="img/fe.jpg" alt="Facebook">
                            </a>
                        </li>
                        <li class="socials_item">
                            <a href="#" class="socials_link" target="_blank">
                                <img class="socials_icon socials_icon-inst" src="img/vk.jpg" alt="Instagram">
                            </a>
                        </li>
                        <li class="socials_item">
                            <a href="#" class="socials_link" target="_blank">
                                <img class="socials_icon socials_icon-vk" src="img/inst.jpg" alt="VK">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.section-contacts -->

<!-- footer-page -->
<footer class="footer-page">
    <div class="container"></div>
    <div class="footer-page_text">Crazy fish 2022</div>
    </div>
</footer>
<!-- /.footer-page -->

<script type="text/javascript" src="JavaScript/project.js" defer></script>


</body>
</html>